header{
  grid-area: header;
  display: flex;
  justify-content: space-between;

  .header__title{
    font-weight: bold;
    font-size: 33px;
    color: #0A5E30;
    align-self: center;
  }

  .header__logo{
    height: 80%;
    align-self: center;
  }

  .header__button{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}